.main-chat
  .main-group
    .main-groups
      .main-groups__leftbox
        .main-groups__leftt_title
          = @group.name
        .main-groups__leftbox-member
          Member :
          - @group.users.each do |user|
            = user.name
      .main-groups__rightbox
        = link_to edit_group_path(@group) do
          Edit
  .main-message
    = render @messages
  .main-form
    .from
      = form_for [@group, @message] do |f|
        .from__input
          .from__input__box
            = f.text_field :content, class: '', placeholder: 'type a message'
            = f.label :image, class: "input-box__image" do
              = icon('fas', 'image', class: '')
              = f.file_field :image, class: ''
          = f.submit 'Send', class: 'from__input__right'
            