.chat-side
  .side-header
    .side-header__box
      .side-header__box__name
        = current_user.name
      .side-header__box__menu
        = link_to new_group_path do
          = icon("far", "edit")
        = link_to edit_user_path(current_user), class: "side-header__box__menu__btn" do
          = icon("fas", "cog", class: "icon")
  .side-group
    - current_user.groups.each do |group|
      .side-group__box
        = link_to '#' do
          .side-group__box__name
            = group.name
      .side-group__box__message
        まだメッセージはありません