.chat-side
  .side-header
    .side-header__box
      .side-header__box__name
        = current_user.name
      .side-header__box__menu
        = link_to "#", class: "side-header__box__menu__btn" do
          = icon("far", "edit")
        = link_to edit_user_path(current_user), class: "side-header__box__menu__btn" do
          = icon("fas", "cog", class: "icon")
  .side-group
    .side-group__box
      .side-group__box__name
        %p  techcamp
      .side-group__box__message
        %p まだメッセージはありません